# logs
/logs

# environment vars
.env

# vendor and assets
node_modules
/.docs/.out/*

# ccda service build
ccdaservice/node_modules

# dev editor configs
/.idea/*
/nbproject/*
sites/default/sqlconf.php
